div[data-role='content'] {
    overflow: hidden;
    position: fixed;
    top: 40px;
    bottom: -60px;
    left: 0px;
    right: 0px;
}

.summary {
  font-size: 14pt;
}

#participantlistentry {
  font-size: 14pt;
}

span.complete {
  border: 2px solid #333; 
  line-height: 20px; 
  font-size: 20px;
  width: 16px; 
  height:20px;
  display: inline-block;
  margin-right: 10px;
  color:green;
}

span.incomplete {
  border: 2px solid #333; 
  line-height: 20px; 
  font-size: 20px;
  width: 16px; 
  height:20px;
  display: inline-block;
  margin-right: 10px;
  color:red;
}

#showPhoto {
  font-size: 8pt;
  height: 10px;
  float: right;
  border: 1px solid #900;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.18, rgb(0,173,0)),
    color-stop(0.57, rgb(120,250,120))
  );
}

#photoImage {
  display: block;
  margin: 0px auto;
  width:  200px;
  height: 200px;
  border: 1px solid #ccc;
}